.git
.gitignore
.gitattributes
.github

node_modules
vendor

.env
.env.*
!.env.example
!.env.docker.example

storage/app/public/*
!storage/app/public/.gitignore
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
storage/pail

public/build
public/hot
public/storage

tests
.phpunit.result.cache
.phpunit.cache

.idea
.vscode
*.log

reports-update.zip
SETUP.md
DEPLOYMENT.md
docker-compose.yml
docker-compose.*.yml
